{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block body %}
<div class="container">
    <h1>Edit Product:</h1>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form | bootstrap }}
        <div class="row">
            <div class="col-sm col-md-3">
                <input type="submit" class="btn btn-block btn-outline-success" value="Save Edit">
            </div>
            <div class="col-sm col-md-3">
                <a href="{% url 'index' %}" class="btn btn-block btn-outline-primary">Back</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}