{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% load widget_tweaks %}

{% block body %}

<div class="container">
    <h1 style="margin-top: 50px;">Register Places to Visit</h1>
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible fade show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        <div class="col-sm">
            <a href="{% url 'add-image' %}" class="btn btn-primary col-md-4" type="submit">Add image</a>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
                {% else %}
                <div class="input-group input-group-outline mb-3">
                {% render_field field class="form-control" %}
                </div>
                {% endif %}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}

            <button class="btn btn-success col-md-4" type="submit">Register Places to Visit</button>
        </div>
    </form>
</div>




{% endblock body %}
