{% load static %}

<!-- FOOTER ===================================================================== -->
<footer id="home" style="margin-top: 50px;">
    <div class="container" >
      <div class="row">
        <div class="col-md-2">
          <img src="{% static 'image/logo2.png' %}" width="142">
        </div>
        <div class="col-md-2">
          <h4>company</h4>
          <ul class="navbar-nav">
            <li><a href="">About</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Company</a></li>
            <li><a href="">News</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>Community</h4>
          <ul class="navbar-nav">
            <li><a href="">Artists</a></li>
            <li><a href="">Develpers</a></li>
            <li><a href="">Brands</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>links</h4>
          <ul class="navbar-nav">
            <li><a href="">Help</a></li>
            <li><a href="">Gifts</a></li>
            <li><a href=""> Web Player</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>
              <a href=""><img src="{% static 'image/facebook.png' %}"></a>
            </li>
            <li>
              <a href=""><img src="{% static 'image/twitter.png' %}"></a>
            </li>
            <li>
              <a href=""><img src="{% static 'image/instagram.png' %}"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>